* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #efbfd6;
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  color: #209ea7;
}
.container {
  width: 350px;
  height: 600px;
  border: #209ea7 8px solid;
  box-shadow: inset #209ea7 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../assets/cute-cartoon-cat-transparent-background-735811696674569pfu81cnq1t\ 1.png);
  background-repeat: no-repeat;
  background-position: 0 460px;
}
@media screen and (width >=768px) {
  .container {
    flex-direction: row;
    width: 650px;
  }
}
.digitalClockContainer {
  display: flex;
  flex-direction: column;
}
.styleDig {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analogClock {
  position: relative;
  width: 15.625rem;
  height: 250px;
  border-radius: 50%;
  background-color: #209ea7;
  color: white;
  margin-bottom: 40px;
}
.analogClock::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #209ea7;
  box-shadow: #ffffff 0 0 12px;
  top: 105px;
  left: 105px;
  border-radius: 50%;
}
.analogClock::before {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: #efbfd6;
  box-shadow: 0 0 8px 3px inset #ffffff;
}
.needleSeconds {
  position: absolute;
  width: 4px;
  height: 120px;
  background-color: red;
  top: 5px;
  left: 121px;
  transform-origin: bottom center;
}
.needleMinutes {
  position: absolute;
  width: 8px;
  height: 110px;
  border-radius: 1.5rem;
  background-color: rgb(255, 255, 255);
  top: 15px;
  left: 117px;
  transform-origin: bottom center;
}
.needleHour {
  position: absolute;
  width: 15px;
  height: 100px;
  border-radius: 1.5rem;
  background-color: #209ea7;
  top: 25px;
  left: 115px;
  transform-origin: bottom;
}
