* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  color: white;
}
.container {
  width: 56.25rem;
  height: 37.5rem;
  border: white 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.digitalClockContainer {
  display: flex;
  flex-direction: column;
}
.styleDig {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analogClock {
  position: relative;
  width: 15.625rem;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  color: white;
}
.analogClock::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  top: 105px;
  left: 105px;
  border-radius: 50%;
}
.analogClock::before {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: rgb(175, 175, 175);
  box-shadow: 0 0 8px 8px inset rgb(56, 56, 56);
}
.needleSeconds {
  position: absolute;
  width: 4px;
  height: 120px;
  background-color: red;
  top: 5px;
  left: 121px;
  transform-origin: bottom center;
}
.needleMinutes {
  position: absolute;
  width: 8px;
  height: 110px;
  border-radius: 1.5rem;
  background-color: rgb(255, 255, 255);
  top: 15px;
  left: 117px;
  transform-origin: bottom center;
}
.needleHour {
  position: absolute;
  width: 15px;
  height: 100px;
  border-radius: 1.5rem;
  background-color: rgb(0, 0, 0);
  top: 25px;
  left: 115px;
  transform-origin: bottom;
}
