* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  color: white;
}
.container {
  width: 56.25rem;
  height: 37.5rem;
  border: white 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.digitalClockContainer {
  display: flex;
  flex-direction: column;
}
.style{
  font-size: 30px;
  font-weight: 700;
}
.analogClock {
  position: relative;
  width: 15.625rem;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(116, 116, 116);
  color: white;
}
.needleHour {
  position: absolute;
  width: 15px;
  height: 100px;
  border-radius: 1.5rem;
  background-color: bisque;
  top: 25px;
  left: 115px;
}
.needleMinutes{
  position: absolute;
  width: 8px;
  height: 110px;
  border-radius: 1.5rem;
  background-color: aliceblue;
  top: 15px;
  left: 117px;
}
.needleSeconds{
  position: absolute;
  width: 4px;
  height: 120px;
  background-color: red;
  top: 5px;
  left: 121px;
  
}
.conDate{
  display: flex;
  flex-direction: column;
  align-items: center;
}